﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hello world from the view!</p>
    @ViewBag.Greeting World (from the view)
    <p>We're going to have an exciting party!</p>
    <a class="btn btn-success" href="/Home/RsvpForm">RSVP Now</a>
    
</div>

