﻿@model PartyInvites.Models.GuestResponse

@{
    ViewData["Title"] = "RSVP Form";
}

<div class="text-center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <div class="mb-3">
            <label for="Name" class="form-label">Your Name:</label>
            @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Your Email:</label>
            @Html.TextBoxFor(x => x.Email, new {@class = "form-control"})
        </div>
        <div class="mb-3">
            <label for="Phone" class="form-label">Your Phone Number:</label>
            @Html.TextBoxFor(x => x.Phone, new {@class = "form-control"})
        </div>
        <div class="mb-3">
            <label for="WillAttend" class="form-label">Will you attend?</label>
            @Html.DropDownListFor(x => x.WillAttend, new[] {
            new SelectListItem() {Text = "Yes, I'll be there", Value = bool.TrueString},
            new SelectListItem() {Text = "No, I can't come", Value = bool.FalseString}
            }, "Choose an Option", new {@class = "form-control"})
        </div>
        <input type="submit" class="btn btn-success" value="Submit RSVP" />     
    }
</div>

