﻿@model PartyInvites.Models.GuestResponse
@{
    ViewData["Title"] = "Thanks";
}

<div class="text-center">
    <h1 class="display-4">Thank you, @Model.Name!</h1>
    @if (Model.WillAttend == true)
    {
        @:It's great that you're coming. The drinks are already in the fridge!
    }
    else
    {
        @:Sorry to hear that you can't make it, but thanks for letting us know.
    }
</div>
